<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="teste/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         colors="true"
         timeoutForSmallTests="5">
  <testsuites>
    <testsuite name="Planeta">
      <directory suffix="Test.php">teste</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="gerado/coverage" title="Planeta Framework"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="gerado/logs/clover.xml"/>
    <log type="junit" target="gerado/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">fonte</directory>
      <exclude>
        <file>fonte/autoload.php</file>
      </exclude>
    </whitelist>
  </filter>
  
  <php>
      <const name="PDO_DRIVER" value="mysql" />
      <const name="PDO_HOST" value="127.0.0.1" />
      <const name="PDO_DBNAME" value="blog" />
      <const name="PDO_USERNAME" value="root" />
      <const name="PDO_PASSWORD" value="123456" />
  </php>
</phpunit>
